<!-- dagr/home/templates/partiside-navbar.htmlhtml-->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/about/" class="w3-bar-item w3-button">About</a>
    <a href="#" class="w3-bar-item w3-button">Insert DAGR</a>
    <a href="#" class="w3-bar-item w3-button">Bulk Data Entry</a>
    <a href="#" class="w3-bar-item w3-button">HTML Parser & Automatic Data Entry</a>
    <a href="#" class="w3-bar-item w3-button">Categorize</a>
    <a href="#" class="w3-bar-item w3-button">Delete DAGR</a>
    <a href="#" class="w3-bar-item w3-button">Metadata Query</a>
    <a href="#" class="w3-bar-item w3-button">Find Orphans</a>
    <a href="#" class="w3-bar-item w3-button">DAGR Reach</a>
    <a href="#" class="w3-bar-item w3-button">Time-Range Report</a>
    <a href="#" class="w3-bar-item w3-button">Modify DAGR</a>
</div>