<!-- dagr/home/templates/partiside-navbar.htmlhtml-->
<div class="w3-sidebar w3-navbar w3-bar-block" style="width:15%; border-radius: 15px;">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/about/" class="w3-bar-item w3-button">About</a>
    <a href="/insert/" class="w3-bar-item w3-button">Insert DAGR</a>
    <a href="/bulkdataentry/" class="w3-bar-item w3-button">Bulk Data Entry</a>
    <a href="/htmlparser/" class="w3-bar-item w3-button">HTML Parser & Automatic Data Entry</a>
    <a href="/categorize/" class="w3-bar-item w3-button">Categorize</a>
    <a href="/keywordPage/" class="w3-bar-item w3-button">Add Keyword</a>
    <a href="/delete/" class="w3-bar-item w3-button">Delete DAGR</a>
    <a href="/metadataquery/" class="w3-bar-item w3-button">Metadata Query</a>
    <a href="/findorphans/" class="w3-bar-item w3-button">Find Orphans AND/OR Sterile Reports</a>
    <a href="/reach/" class="w3-bar-item w3-button">DAGR Reach</a>
    <a href="/timerange/" class="w3-bar-item w3-button">Time-Range Report</a>
    <a href="/modify/" class="w3-bar-item w3-button">Modify DAGR</a>
</div>