<!-- dagr/home/templates/base.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DAGR Project - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{%static 'css/base.css' %}" />


</head>
<body class="base-body">
    <div class="container">
        {% include 'partials/side-navbar.html' %}
        <div style="margin-left:15%"><!-- move the content over 15% because the sidebar is 15% wide -->
        {% block pagecontent %}

        {% endblock %}

        </div>

    </div>

</body>
</html>