{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Find Orphan/Sterile DAGRS{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
    <h1 align="center">Find Orphans AND/OR Sterile Reports</h1>
    <div class="w3-container">

        <input type="radio" onclick="javascript:sizechoice();" name="rangeselection" id="orphan" checked="checked">
        <label for="orphan">Orphan</label>
        <br/>

        <input type="radio" onclick="javascript:sizechoice();" name="rangeselection" id="sterile">
        <label for="sterile">Sterile</label>
        <br/>

        <input type="radio" onclick="javascript:sizechoice();" name="rangeselection" id="orphanandsterile">
        <label for="orphanandsterile">Orphan and Sterile</label>
        <br/>

        <div id="orphan-container"
             class="wrapper"
             style="
             display: grid;
             grid-template-columns: 20% 20% 20% 20%;
             grid-gap: 30px;
             color: #444;
             height: auto;
             padding: 10px;
             position: relative;">

            {% for orphan in orphan_list %}
            <div style="background-color: #9697fd;
                 color: black;
                 border-radius: 15px;
                 padding: 40px;
                 font-size: 150%;
                 text-align: center">
                <p> <b>GUID: </b></p> {{ orphan.0 }}
                <p> <b>Name: </b></p> {{ orphan.1 }}
                <p> <b>Local Path: </b></p> {{ orphan.2 }}
                <p> <b>Size (bytes): </b></p> {{ orphan.3 }}
                <p> <b>Creation Date: </b></p> {{ orphan.4 }}
                <p> <b>Creator: </b></p> {{ orphan.5 }}

            </div>
            {% endfor %}



        </div>

        <div id="sterile-container"
             class="wrapper"
             style="
             grid-template-columns: 20% 20% 20% 20%;
             grid-gap: 30px;
             color: #444;
             height: auto;
             display: none;
             padding: 10px;
             position: relative;">

            {% for sterile in sterile_list %}
            <div style="background-color: #9697fd;
                 color: black;
                 border-radius: 15px;
                 padding: 40px;
                 font-size: 150%;
                 text-align: center">
                <p> <b>GUID: </b></p> {{ sterile.0 }}
                <p> <b>Name: </b></p> {{ sterile.1 }}
                <p> <b>Local Path: </b></p> {{ sterile.2 }}
                <p> <b>Size (bytes): </b></p> {{ sterile.3 }}
                <p> <b>Creation Date: </b></p> {{ sterile.4 }}
                <p> <b>Creator: </b></p> {{ sterile.5 }}

            </div>
            {% endfor %}


        </div>

        <div id="orphanandsterile-container"
             class="wrapper"
             style="
             display: none;
             grid-template-columns: 20% 20% 20% 20%;
             grid-gap: 30px;
             color: #444;
             height: auto;

             padding: 10px;
             position: relative;">

            {% for orphanandsterile in orphanandsterile_list %}
            <div style="background-color: #9697fd;
                 color: black;
                 border-radius: 15px;
                 padding: 40px;
                 font-size: 150%;
                 text-align: center">
                <p> <b>GUID: </b></p> {{ orphanandsterile.0 }}
                <p> <b>Name: </b></p> {{ orphanandsterile.1 }}
                <p> <b>Local Path: </b></p> {{ orphanandsterile.2 }}
                <p> <b>Size (bytes): </b></p> {{ orphanandsterile.3 }}
                <p> <b>Creation Date: </b></p> {{ orphanandsterile.4 }}
                <p> <b>Creator: </b></p> {{ orphanandsterile.5 }}
            </div>
            {% endfor %}

        </div>


    </div>

    <script type="text/javascript">
        $(document).ready(function() {
          $(".js-example-basic-single").select2({
              data : [
                  {
                      id: 'value',
                      text: 'text to display'
                  },
              ]
          });
        });

        function sizechoice() {
            if(document.getElementById('orphan').checked) {
                document.getElementById('orphan-container').style.display = 'grid';
                document.getElementById('sterile-container').style.display = 'none';
                document.getElementById('orphanandsterile-container').style.display = 'none';
            } else if (document.getElementById('sterile').checked) {
                document.getElementById('sterile-container').style.display = 'grid';
                document.getElementById('orphan-container').style.display = 'none';
                document.getElementById('orphanandsterile-container').style.display = 'none';

            } else if (document.getElementById('orphanandsterile').checked) {
                document.getElementById('orphanandsterile-container').style.display = 'grid';
                document.getElementById('orphan-container').style.display = 'none';
                document.getElementById('sterile-container').style.display = 'none';
            }
        }
        </script>


    {% endblock %}

</body>
</html>