{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Find Orphan/Sterile DAGRS{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
    <h1 align="center">Find Orphans AND/OR Sterile Reports</h1>
    <div class="w3-container">

        <input type="radio" onclick="javascript:displayblocks();" name="rangeselection" id="orphan-radio" checked="checked">
        <label for="orphan-radio">Orphan</label>
        <br/>

        <input type="radio" onclick="javascript:displayblocks();" name="rangeselection" id="sterile-radio">
        <label for="sterile-radio">Sterile</label>
        <br/>

        <input type="radio" onclick="javascript:displayblocks();" name="rangeselection" id="orphanandsterile-radio">
        <label for="orphanandsterile-radio">Orphan and Sterile</label>
        <br/>

        <div id="orphan-container"
             class="wrapper"
             style="
             display: grid;
             grid-template-columns: 30% 30% 30%;
             grid-gap: 50px;
             color: #444;
             height: auto;
             padding: 10px;
             position: relative;">

            {% for orphan in orphan_list %}
            <div id="orphan-div";
                 style="background-color: #9697fd;
                 color: black;
                 border-radius: 15px;
                 padding: 20px;
                 font-size: 120%;
                 text-align: center;
                 word-wrap: break-word;">
                <p> <b>GUID: </b> <br/> {{ orphan.0 }}</p>
                <p> <b>Name: </b> <br/> {{ orphan.1 }}</p>
                <p> <b>Local Path: </b> <br/>
                    {% if "http" in orphan.2 or "https" in orphan.2 or "www" in orphan.2 %}
                        <a href="{{ orphan.2}}">{{orphan.2}}</a>
                    {% endif %}

                </p>
                <p> <b>Size (bytes): </b> <br/> {{ orphan.3 }}</p>
                <p> <b>Modified Date: </b> <br/> {{ orphan.4 }}</p>
                <p> <b>Creator: </b> <br/> {{ orphan.5 }}</p>
                <p> <b>Parent ID: </b> <br/> {{ dagr.6 }}</p>
                <p> <a href="file:////home/dan/Documents/notes">notes</a></p>

            </div>
            {% endfor %}



        </div>

        <div id="sterile-container"
             class="wrapper"
             style="
             grid-template-columns: 30% 30% 30%;
             grid-gap: 50px;
             color: #444;
             height: auto;
             display: none;
             padding: 10px;
             position: relative;">

            {% for sterile in sterile_list %}
            <div id="sterile-div";
                 style="background-color: #ffffba;
                 color: black;
                 border-radius: 15px;
                 padding: 20px;
                 font-size: 120%;
                 text-align: center;
                 word-wrap: break-word;">
                <p> <b>GUID: </b> <br/> {{ sterile.0 }}</p>
                <p> <b>Name: </b> <br/> {{ sterile.1 }}</p>
                <p> <b>Local Path: </b> <br/> {{ sterile.2 }}</p>
                <p> <b>Size (bytes): </b> <br/> {{ sterile.3 }}</p>
                <p> <b>Modified Date: </b> <br/> {{ sterile.4 }}</p>
                <p> <b>Creator: </b> <br/> {{ sterile.5 }}</p>
                <p> <b>Parent ID: </b> <br/> {{ dagr.6 }}</p>

            </div>
            {% endfor %}


        </div>

        <div id="orphanandsterile-container"
             class="wrapper"
             style="
             display: none;
             grid-template-columns: 30% 30% 30%;
             grid-gap: 50px;
             color: #444;
             height: auto;

             padding: 10px;
             position: relative;">

            {% for orphanandsterile in orphanandsterile_list %}
            <div id="orphanandsterile-div";
                 style="background-color: #baffc9;
                 color: black;
                 border-radius: 15px;
                 padding: 20px;
                 font-size: 120%;
                 text-align: center;
                 word-wrap: break-word;">
                <p> <b>GUID: </b> <br/> {{ orphanandsterile.0 }}</p>
                <p> <b>Name: </b> <br/> {{ orphanandsterile.1 }}</p>
                <p> <b>Local Path: </b> <br/> {{ orphanandsterile.2 }}</p>
                <p> <b>Size (bytes): </b> <br/> {{ orphanandsterile.3 }}</p>
                <p> <b>Modified Date: </b> <br/> {{ orphanandsterile.4 }}</p>
                <p> <b>Creator: </b> <br/> {{ orphanandsterile.5 }}</p>
                <p> <b>Parent ID: </b> <br/> {{ dagr.6 }}</p>
            </div>
            {% endfor %}

        </div>


    </div>

    <script type="text/javascript">
        $(document).on("change","input[type=radio]",function(){

        });

        function displayblocks() {
            if(document.getElementById('orphan-radio').checked) {

                $("#orphan-container").fadeIn();
                document.getElementById('orphan-container').style.display = 'grid';



                document.getElementById('sterile-container').style.display = 'none';
                document.getElementById('orphanandsterile-container').style.display = 'none';


            } else if (document.getElementById('sterile-radio').checked) {

                $("#sterile-container").fadeIn();
                document.getElementById('sterile-container').style.display = 'grid';

                document.getElementById('orphan-container').style.display = 'none';
                document.getElementById('orphanandsterile-container').style.display = 'none';
            } else if (document.getElementById('orphanandsterile-radio').checked) {

                $("#orphanandsterile-container").fadeIn();
                document.getElementById('orphanandsterile-container').style.display = 'grid';

                document.getElementById('orphan-container').style.display = 'none';
                document.getElementById('sterile-container').style.display = 'none';
            }
        }
        </script>


    {% endblock %}

</body>
</html>