<!-- dagr/home/templates/index.html-->
{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}

    <!-- normal tags are not padded and sit flush to sidebar
    <p>ladidaf</p>

    <img class="homepage-img" src="{% static 'images/metadata.jpg' %}">
-->
    <div class="homepage-splash">
        <h1 class="homepage-title">Multi Media Data Aggregator</h1>
        <h1 class="homepage-authors">Daniel Hwang & Charles Stephan</h1>
    </div>


    {% endblock %}
</body>
</html>