<!-- dagr/home/templates/index.html-->
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
    <h1 align="center">DAGR Project</h1>

    <!-- normal tags are not padded and sit flush to sidebar -->
    <p>ladidaf</p>

    <!-- w3-container has some padding to stay a bit detached from the side navbar -->
    <div class="w3-container">
        <h2>Sidebar Navigation Example</h2>
        <p>The sidebar with is set with "style="width:25%".</p>
        <p>The left margin of the page content is set to the same value.</p>
    </div>
    {% endblock %}
</body>
</html>