{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Insert DAGR{% endblock %}</title>
</head>
<body>

    {% block pagecontent %}
    <h1 align="center">Insert Local File</h1>
    <div class="w3-container">
        <form action="/upload/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" id="file" required/>
            <br/>
            <input type="hidden" name="size" id="size_input"/>

            <br/>

            <div id="dagrselectionbox" style="float:left" >
                Choose Parent
                <p style="font-style:italic">"If you don't want parent, leave blank"</p>
                <br/>
                <select class="js-example-basic-single" id="dagrlist" name="dagr-selection" required>
                    <option value="" selected="selected"> </option>
                    {% for key, value in dagr_list.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>

            <br/>

            <label for="keywords">Keywords</label>
            <textarea id="keywords" name="keywords" rows="10" cols="30" placeholder="Enter Keywords Separated By Commas"></textarea>

            <input type="submit" value="Upload File" id="size"/>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".js-example-basic-single").select2();
        });
        var size;
        // gets the size of the file before upload
        $("#file").on("change", function() {
            console.log(this.files[0].size);
            size = this.files[0].size;
            $("#size_input").val(size);
        });

        // disable submit button until there is a file loaded up for upload
        $(document).ready(
            function(){
                $('input:submit').attr('disabled',true);
                $('input:file').change(
                    function(){
                        if ($(this).val()){
                            $('input:submit').removeAttr('disabled');
                        } else {
                            $('input:submit').attr('disabled',true);
                        }
                    });
            });
    </script>


    {% endblock %}

</body>
</html>