{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Metadata Query{% endblock %}</title>
</head>
<body>

    {% block pagecontent %}
    <h1 align="center">Metadata Query</h1>
    <div class="w3-container">
        <form action="/metadataqueryresults/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="guidlist">GUID: </label>
            <select class="js-example-basic-single" id="guidlist" name="guid" style="color:white; background-color:white">
                <option label=""></option>
                {% for dagr in dagr_list %}
                <option value="{{ dagr.0 }}">{{ dagr.0 }}</option>
                {% endfor %}
            </select>
            <br/>

            <label for="namelist">Name: </label>
            <select class="js-example-basic-single" id="namelist" name="name" style="color:white; background-color:white">
                <option label=""></option>
                {% for dagr in dagr_list %}
                <option value="{{ dagr.1 }}">{{ dagr.1 }}</option>
                {% endfor %}
            </select>
            <br/>

            <label for="categorylist">Category: </label>
            <select class="js-example-basic-single" id="categorylist"  name="category-selection" style="color:white; background-color:white">
                <option label=""></option>
                {% for cat in category_list %}
                <option value="{{ cat }}">{{ cat }}</option>
                {% endfor %}
            </select>
            <br/>

            <label for="keywordlist">Keyword: </label>
            <select class="js-example-basic-single" id="keywordlist"  name="keyword-selection" style="color:white; background-color:white">
                <option label=""></option>
                {% for k in keyword_list %}
                <option value="{{ k }}">{{ k }}</option>
                {% endfor %}
            </select>
            <br/>



            <label for="pathlist">Path: </label>
            <select class="js-example-basic-single" id="pathlist" name="path" style="color:white; background-color:white">
                <option label=""></option>
                {% for dagr in dagr_list %}
                <option value="{{ dagr.2 }}">{{ dagr.2 }}</option>
                {% endfor %}
            </select>
            <br/>


            <label for="filetype">File Type: </label>
            <input id="filetype" type="text" name="typ" style="color:black; background-color:white"><br>
            <br/>

            <label>Size in Bytes: </label>
            <div id="exact-container" style="display:block">
                <input id="size-input" type="number" name="exact-size" min="0" style="color:black; background-color:white"/>
            </div>

            <div id="range-container" style="display:none">
                <input id="min-input" type="number" name="min-size" min="0" style="color:black; background-color:white"/>
                <input id="max-input" type="number" name="max-size" style="color:black; background-color:white"/>
            </div>

            <div id="greater-container" style="display:none">
                <input id="greater-input" type="number" name="greater-than-size" min="0" style="color:black; background-color:white"/>
            </div>

            <div id="less-container" style="display:none">
                <input id="less-input" type="number" name="less-than-size" min="0" style="color:black; background-color:white"/>
            </div>


            <input type="radio" onclick="javascript:sizechoice();" name="rangeselection" id="exact" checked="checked">
            <label for="exact">Exact</label>
            <br/>


            <input type="radio" onclick="javascript:sizechoice();" name="rangeselection" id="range">
            <label for="range">Range</label>
            <br/>


            <input type="radio" onclick="javascript:sizechoice();" name="rangeselection" id="greaterthan">
            <label for="greaterthan">Greater Than</label>
            <br/>


            <input type="radio" onclick="javascript:sizechoice();" name="rangeselection" id="lessthan">
            <label for="lessthan">Less Than</label>
            <br/>

            <label for="creator">Creator: </label>
            <input id="creator" type="text" name="creator" style="color:black; background-color:white"/>
            <br/>

            <label for="modtime">Modification Time: </label>
            <input id="modtime" type="text" name="modtime" value="" style="color:black; background-color:white"/>
            <br/>



            <input type="hidden" name="size-selection" id="size-selection"/>

            <input type="submit" value="Submit" style="color:white; background-color:black"/>
        </form>

        <script type="text/javascript">

            $(document).ready(function() {
                $(".js-example-basic-single").select2();
            });


            $(function() {

                  $('input[name="modtime"]').daterangepicker({
                      timePicker: true,
                      timePickerIncrement: 1,
                      autoUpdateInput: false,
                      locale: {
                          cancelLabel: 'Clear',
                          format: 'MM/DD/YYYY h:mm A'
                      }
                  });

                  $('input[name="modtime"]').on('apply.daterangepicker', function(ev, picker) {
                      $(this).val(picker.startDate.format('MM/DD/YYYY h:mm A') + ' - ' + picker.endDate.format('MM/DD/YYYY h:mm A'));
                  });

                  $('input[name="modtime"]').on('cancel.daterangepicker', function(ev, picker) {
                      $(this).val('');
                  });

                });

            $(function() {
                $('input[name="modtime"]').on('apply.daterangepicker', function(ev, picker) {
                    var startdate = picker.startDate.format('YYYY-MM-DD h:mm A');
                    var enddate = picker.endDate.format('YYYY-MM-DD h:mm A');
                });
            });



        function sizechoice() {
            if(document.getElementById('exact').checked) {
                document.getElementById('exact-container').style.display = 'block';
                document.getElementById('range-container').style.display = 'none';
                document.getElementById('greater-container').style.display = 'none';
                document.getElementById('less-container').style.display = 'none';

                document.getElementById('size-selection').value = 'exact';

            } else if (document.getElementById('range').checked) {
                document.getElementById('range-container').style.display = 'block';
                document.getElementById('exact-container').style.display = 'none';
                document.getElementById('greater-container').style.display = 'none';
                document.getElementById('less-container').style.display = 'none';
                document.getElementById('size-selection').value = 'range';

            } else if (document.getElementById('greaterthan').checked) {
                document.getElementById('greater-container').style.display = 'block';
                document.getElementById('exact-container').style.display = 'none';
                document.getElementById('range-container').style.display = 'none';
                document.getElementById('less-container').style.display = 'none';
                document.getElementById('size-selection').value = 'greaterthan';
            } else if (document.getElementById('lessthan').checked) {
                document.getElementById('less-container').style.display = 'block';
                document.getElementById('range-container').style.display = 'none';
                document.getElementById('greater-container').style.display = 'none';
                document.getElementById('exact-container').style.display = 'none';
                document.getElementById('size-selection').value = 'lessthan';
            }
        }







        </script>

    </div>



    {% endblock %}


</body>
</html>