{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DAGR Reach Results{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
    <h1 align="center">Reach Results for <br/>{% block start %} {{ dagr_name }} <br/> {{dagr_id}} {% endblock %} </b> </h1>

    <br/>
    <div class="w3-container">

        <div id="dagr-results-container"
             class="wrapper"
             style="
             display: grid;
             grid-template-columns: 30% 30% 30%;
             grid-gap: 50px;
             color: #444;
             height: auto;
             padding: 10px;
             position: relative;">

            {% for dagr in dagr_list %}
            <div id="results-div";
                 style="background-color: #9697fd;
                 color: black;
                 border-radius: 15px;
                 padding: 20px;
                 font-size: 120%;
                 text-align: center;
                 word-wrap: break-word;">
                <p> <b>GUID: </b> <br/> {{ dagr.0 }}</p>
                <p> <b>Name: </b> <br/> {{ dagr.1 }}</p>
                <p> <b>Local Path: </b> <br/> {{ dagr.2 }}</p>
                <p> <b>Size (bytes): </b> <br/> {{ dagr.3 }}</p>
                <p> <b>Creation Date: </b> <br/> {{ dagr.4 }}</p>
                <p> <b>Creator: </b> <br/> {{ dagr.5 }}</p>
                <p> <b>Parent ID: </b> <br/> {{ dagr.6 }}</p>


            </div>
            {% endfor %}



        </div>

    </div>

    {% endblock %}


</body>
</html>