{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Time Range{% endblock %}</title>
</head>
<body>

    {% block pagecontent %}
    <h1 align="center">Choose a Time Range</h1>
    <div class="w3-container">
        Choose Date Range:
        <form id="bulkchooser" action="/timeRangeQueryResults/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="date-range-box" type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" style="color:black; background-color:white; width:500px"/>

            <input type="submit" value="Submit" style="color:white; background-color:black"/>
        </form>



    </div>


    <script type="text/javascript">
            $(function() {
                $('input[name="daterange"]').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 1,
                    locale: {
                        format: 'MM/DD/YYYY h:mm A'
                    }
                });
            });

            $(function() {
                $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
                    var startdate = picker.startDate.format('YYYY-MM-DD h:mm A');
                    var enddate = picker.endDate.format('YYYY-MM-DD h:mm A');
                });
            });

            document.getElementById("date-range-box").submit();


        </script>




    {% endblock %}


</body>
</html>